VITE_SUPABASE_URL=https://smijjjwhmbuhrrpebcyf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtaWpqandobWJ1aHJycGViY3lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIyMDEzOTEsImV4cCI6MjA2Nzc3NzM5MX0.JB8-EtINtnW_ZrEpjK6lcfNaJOy4lvPIs--S7uO91HY 